# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\승희\05Android\HelloKotlin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
